{% extends 'user/base.html' %}
{% block content %}
<div class="about-container container">
        <div class="about container__content">
            <h2>About Us</h2>
            This site was created by a team of two people, <strong>Sahul hameed</strong> and <strong>Mohamed Farhan.</strong>
            <br><br>
        This site was mainly created to help people to keep track of their tasks.The design and Front-end was done by Mohamed Farhan and the backend work was done by  Sahul hameed.
        <br><br>
        Feel free to use our app and do leave a feedback about our app by using the facebook or instagram  link below.	
        
        <div class="icon-container">
       		<a href="https://www.facebook.com/mohdfarhan232002"><i class="fab fa-instagram"></i></a>
       		<a href="https://www.instagram.com/mohamed__farhan_"><i class="fab fa-facebook"></i>	</a>
        	
        </div>			
        </div>
        
    </div>

{% endblock %}