{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1858ed7eeb.js" crossorigin="anonymous"></script>
    <title>To-Do Prime</title>
</head>
<body>
	 <header>
        <nav class="logo-section">
            <a href="{% url 'index' %}">TO-DO PRIME</a>
        </nav>
        <div class="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="nav-btns">
            <a href="{% url 'task-home' %}">Home</a>
            <a href="{% url 'register' %}">Sign Up</a>
            {% if user.is_authenticated %}

            <a href="{% url 'logout' %}">Log out</a>
            {% else %}
            <a href="{% url 'login' %}">Log In</a>
            {% endif %}
            <a href="{% url 'about' %}">About Us</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
<script type="text/javascript">
    const menu=document.querySelector('.menu');
    const navBtns=document.querySelector('.nav-btns');
    menu.addEventListener('click',()=>{
        navBtns.classList.toggle('none');
    })
</script>
</html>