{% extends 'user/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="signup-container container">
        <div class=" container__content">
            <h2>Log In</h2>
            <div class="input-container">
                <form method="post" action="">
                    {% csrf_token %}
                <label for="username">Username</label>
                <!-- <input type="text" id="username"> -->

                {% render_field form.username id="username" %}

                <label for="password">Password</label>
                <!-- <input type="text" id="password"> -->

                {% render_field form.password id="password" %}

                <input type="submit" value="Log In" class="signup"> 
                </form>   
            </div>
        </div> 
    </div>
<!-- <h3 > Enter Same Username and Password what you given in Registration </h3>
<form method="post" >
    <div>
        {% csrf_token %}
        UserName
        <p>{{ form.username }}</p>
        Password
        <p>{{ form.password}}</p>
    <input type="submit" value="Enter">
    </div>
</form> -->
{% endblock %}