{% extends 'users/base.html' %}
{% block content %}
	<div class="update-container container" >
        <div class="form-container">
            <form action="" method="POST">
                <h2>{{todo.title}}</h2>
				<h5>{{todo.description}}</h5>
				<small>{{todo.tasked}}</small>
				{{todo.completed}}
                <a class="signup" href="{% url 'update' todo.id %}">Update</a>
                <a href="{% url 'delete' todo.id %}" class="del signup">Delete</a>
            </form>
            
        </div>
    </div>



{% endblock %}